html
  head
    title XPark
    link(rel="stylesheet", href="css/css.css")
  body
    .header1
      h1 XPark
      p Never waste time searching for parking again with XPark!
    .nav1
      a(href="http://localhost:3000/signup") Sign Up
      a(href="http://localhost:3000/signin") Log In
    .main1
      h2 How it works:
      ol
        ul Sign up for an account
        ul Enter your destination and desired arrival time
        ul Parking Time Saver will find the nearest available parking spot and reserve it for you
        ul Arrive at your destination stress-free, knowing that you have a guaranteed parking spot waiting for you
      p Try it out now and never waste time searching for parking again!
      img.img(src="graphics/parking.jpg", style="width: 200%", ;, height:, 200%;)
    .footer1
      p Copyright 2021 XPark
