<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contact Us</title>
  <!-- <link rel="stylesheet" href="../static/css/contact.css"> -->
  <link rel=stylesheet href="../static/css/css.css">

</head>
<body>

<nav class="container">
      <div class="com">
        <ul>
      <h1>Contact Us</h1>
      <li><a href="../views/profile.html" class="btn">Profile</a></li>
      <li><a href="../views/signin.html" class="btn">Logout</a></li>
      <li><a href="../views/map.html" class="btn">Search Parking Lots</a></li>
        </ul>
      </div>
    </nav> <!--Banner-->

<div class="contact">
  <form action="action_page.php">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name.." required>

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name.." required>

    <label for="mail">Last Name</label>
    <input type="text" id="mail" name="email" placeholder="Your e-mail.." requireds>

    <label for="country">Country</label>
    <select id="country" name="country">
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">Israel</option>
      <option value="usa">Germany</option>
      <option value="usa">France</option>
      <option value="usa">Switzerland</option>
      <option value="usa">Spain</option>
      <option value="usa">Portugal</option>
    </select>
    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px" required></textarea>
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>
