<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>XPark</title>
  <!-- <link rel=stylesheet href="../static/css/map.css"></head> -->
  <link rel=stylesheet href="../static/css/css.css">

  <script src="../static/js/map.js"></script>
</head>

<body>
<nav class="banner">
  <h1>XPark</h1>
  <div class="com">
    <ul>
  <li><a href="../views/profile.html" class="btn">Profile</a></li>
  <li><a href="../views/contact.html" class="btn">Contact Us</a></li>
  <li><a href="../views/signin.html" class="btn">Logout</a></li>
    </ul>
  </div>
</nav> <!--Banner-->
<div id="map"></div>

</body>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlne0vVqjK6uOjBJuWRO67FcDYY1nEO70&callback=initMap&v=weekly"></script>
</html>
