<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>XPark</title>
  <!-- <link rel=stylesheet href="../static/css/signin.css"> -->
  <link rel=stylesheet href="../static/css/css.css">

  <script defer src="../static/js/signin.js"></script>
</head>
<body>
<div class="container">
    <div class="banner">
      <h1>XPark</h1>
      </div>
    </div> <!--Banner-->
    <div class="doc">
          <h2>Login</h2>
        <div class="form">
          <form type="submit" name="signin" onsubmit="return validateForm()" method="post" action="./map.html" >
            <input class="input" type="email" name="email" placeholder="Email Address" required /><br>
            <input class="input" type="password" name="pass" placeholder="Password" /><br>
            <label id="already">Don't have an account yet? <a href="../views/signup.html" style="color: #7F68F5">Sign up</a></label>
            <button id="submit" type="submit">Sign-In </button>
          </form>
      </div> <!--Form-->
    </div> <!--Doc-->
</div> <!--Container-->
<div class="spinner">
  <div></div>
</div>
</body>
</html>



